body {
  margin: 0;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(31, 86, 148);
  color: whitesmoke;
  padding: 0 5%;
}

.nav--icon {
  width: 25px;
  font-size: 2em;
}
